:root {
    --bgcolor: #222222;
}

.chat {
    background-color: var(--bgcolor);
    overflow-y: auto;
    scroll-behavior: unset;
    // height: 100%;
    height: calc(100vh - 190px);
    width: 95%;
    margin-left: 2%;    
    box-shadow: 0 0 5px 1px rgb(82, 60, 73);
    border-radius: 5px;
}

.chat-form {
    width: 100%;
    background-color: #111111;
    position: relative;
    bottom: 0;
    top: auto;
    height: auto;
    box-shadow: 0 0 5px 1px rgb(82, 60, 73);
    border-radius: 5px;
}

.chat-block {
    background-color: var(--bgcolor);
    /* height: 100%; */
}

@media (min-width:0) {
    .chat-message {
        max-width: 90%;
    }

    .chat-block {
        padding: 0;
    }
}

@media (min-width: 992px) {
    .chat-message {
        max-width: 70%;
    }

    .chat-block {
        padding: 1rem;
    }
}
