:root {
    --bgcolor: #222222;
}

.community {
    border: 1px solid wheat;
}

.no-community-msg {
    text-align: center;
    width: 100%;
}

.community-element {
    margin: 1%;
    padding: 1%;
    background-color: var(--bgcolor);
    height: 10%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
}

.community-avatar {
    height: 150px;
    width: 150px;
    margin: 2%;
}

.profile-link {
    cursor: pointer;
    font-size: 1.3vw;
}

a {
    color: #e2e2e2;
    text-decoration: none;
}

a:hover {
    filter: brightness(.8);
}


.community-info {
    vertical-align: top;
    width: 15rem;
    margin-right: 1rem;
    display: inline-block;
}

.community-link {
    display: inline-block;
}

.community-descision {
    padding: 0;
    display: inline-block;
    width: 10rem;
    text-align: right;
    margin-top: 2rem;
}

.community-filter {
    padding-right: 4%;
}
