.feed-open-form-btn {
    cursor: pointer;
    margin: 1rem;
    background-color: var(--bgcolor);
    color: whitesmoke;
    font-weight: 600;
    font-size: 2rem;
    padding: .1rem 1rem .1rem;
    margin-top: 0;
    border-radius: 5px;
    border: 3px solid black;
    transition: .4s;
}

.feed-open-form-btn:hover {
    background-color: rgb(69,69,128);
    color: black;
    transition: .4s;
}