:root {
    --bgcolor-form: #222222;
    --send-color: rgb(69, 69, 128);
    --accept-color: rgb(69, 69, 128);
    --decline-color: rgb(255, 69, 69);
}

.publication-form {
    margin: 5%;
    background-color: #111111;
    overflow: auto;
}

.publication-form-title {
    padding-left: 3%;
    padding-top: 1%;
}

.publication-form-theme {
    color: darkmagenta;
    font-weight: 600;
    background-color: var(--bgcolor-form);
    font-size: 1rem;
    outline: none;
    border: none;
}

.publication-form-text {
    max-height: 15rem;
    /* height: 100%; */
    background-color: var(--bgcolor-form);
    outline: none;
    border: none;
    resize: none;
    font-weight: 400;
    color: cornsilk;
    font-size: 1.1rem;
}

.publication-form-button {
    cursor: pointer;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: var(--bgcolor-form);
    color: whitesmoke;
    border-radius: 5px;
    border: 3px solid black;
    transition: 0.4s;
}

.send:hover {
    background-color: var(--send-color);
    color: black;
    transition: 0.4s;
}

.accept {
    float: right;
    margin-top: 0;
    margin-right: 2rem;
    margin-bottom: 0;
}

.accept:hover {
    background-color: var(--send-color);
    color: black;
    transition: 0.4s;
}

.decline {
    // float: right;
}  


.decline:hover {
    background-color: var(--decline-color);
    color: black;
    transition: 0.4s;
}

.decline-rotate:hover {
    transform: rotate(90deg);
    background-color: var(--decline-color);
    color: black;
    transition: 0.4s;
}
